<div class="gallery-cards section-{{ section.id }} container-fluid bg-{{ section.settings.bg_color }} my-{{ section.settings.margin }} gx-0">
    <div class="container{% if section.settings.fullwidth %}-fluid gx-0{%endif%}">
    <div class="row justify-content-{{ section.settings.alignment }} px-3">
    <div class="col-11 col-lg-6 text-{{ section.settings.alignment }}">
    {% if section.settings.heading != blank %}
    <h2 class="mb-4 {{ section.settings.heading_size }} text-{{ section.settings.text_color }}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
    <div class="text-{{ section.settings.text_color }}">{{ section.settings.text }}</div>
    {% endif %}
    {% if section.settings.btn_text != blank %}
    {% if section.settings.btn_count == "2" %}
    <div class="row gx-0 mt-4">
    <div class="col-12 col-lg-6 mt-3 my-lg-0 text-center text-lg-end mb-3 mb-lg-0">
    <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-start">
    <a class="btn btn-{{ section.settings.btn_color2 }} btn-lg mx-2" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
    </div>
    </div>
    {% else %}
    <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
    {% endif %}
    {% endif %}
    </div>
    </div>
    <div class="row g-0 my-5 justify-content-center text-start text-{{ section.settings.card_text_color }}">
        {% for block in section['block_order'] %}
        <div class="col-{{ section.settings.mobile_grid }} col-lg-{{ section.settings.grid }} p-1 p-lg-2">
            {% block %}
        </div>
        {% endfor %}
    </div>
    </div>
</div>

{% styles %}
.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }} .gallery-block-modal .modal-header {
    z-index: 999;
}

.section-{{ section.id }} .gallery-block-modal .modal-header .btn {
    padding: 0.5rem;
    text-decoration-color: transparent;
}

.section-{{ section.id }} .gallery-block-modal .modal-header .btn:hover {
    color: {{ accent1_color }}
}

.section-{{ section.id }} .gallery-block-modal .modal-header .btn-close {
    margin: -0.5rem 5rem  -0.5rem 0;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat!important;
}

.section-{{ section.id }} .gallery-block-modal .modal-body, .section-{{ section.id }} .gallery-block-modal .carousel-inner, .section-{{ section.id }} .gallery-block-modal .carousel-item {
    position: unset;
}

.section-{{ section.id }} .gallery-block-modal modal[style] {
    padding-right: 0;
}

.section-{{ section.id }} .gallery-block-modal .modal-fullscreen {
    max-width: 100%;
}

.section-{{ section.id }} .gallery-block-modal .modal-content {
   background-color: #00000080;
}


.section-{{ section.id }} .gallery-block-modal .modal-btn {
    width: 100%;
    padding-bottom: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: all .8s ease;
}

.section-{{ section.id }} .gallery-block-modal .modal-btn:hover {
    background-size: auto 110%;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 30%);
}

.section-{{ section.id }} .gallery-block-modal .modal-btn .overlay {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    transition: all .8s ease;
}

.section-{{ section.id }} .gallery-block-modal .modal-btn:hover .overlay {
    background-color: #00000099;
}

.section-{{ section.id }} .gallery-block-modal .modal-btn .hover-effect-text {
    height: 100%;
    width: 100%;
    opacity: 0;
    animation-name: fadeFromtop;
    -webkit-animation-name: fadeFromtop;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.section-{{ section.id }} .gallery-block-modal .modal-btn:hover .hover-effect-text {
    animation-name: fadeFromBottom;
  -webkit-animation-name: fadeFromBottom;
  animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeFromBottom  {
        0%{
            opacity:0;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }
        100%{
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
            display: block;
        }
    }
@keyframes fadeFromtop  {
    0%{
        opacity:1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(400%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.section-{{ section.id }} .modal-btn .gallery-link:before {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 50%;
    width: 0%;
    height: 3px;
    transition:all 1s ease;
    background-color: {{ accent1_color }};
    transform: translate(-50%, -50%);
}

.section-{{ section.id }} .modal-btn:hover .gallery-link:before {
    width: 80%;
}

.section-{{ section.id }} .gallery-block-modal .carousel {
    position: unset;
}

.section-{{ section.id }} .gallery-block-modal .carousel .photo-title {
    position: absolute;
    top: 2rem;
    left: 7rem;
}

.section-{{ section.id }} .gallery-block-modal .carousel-inner {
    height: 80%;
}

.section-{{ section.id }} .gallery-block-modal .carousel-item img {
    width: auto;
    max-width: 100%;
}

.section-{{ section.id }} .gallery-block-modal .carousel-indicators {
    border-bottom: solid 1px transparent;
    margin-bottom: 0;
}

.section-{{ section.id }} .gallery-block-modal .carousel-control-next, .section-{{ section.id }} .gallery-block-modal .carousel-control-prev {
    top: -15%;
    z-index: 2;
}

body.modal-open[style] {
    padding-right: 0!important;
}

.modal.show[style] {
    padding-right: 0!important;
}

@media screen and (max-width: 576px) {
    .section-{{ section.id }} .gallery-block-modal .modal-header .btn-close {
        margin: -0.5rem 0 -0.5rem 0;
    }
    
    .section-{{ section.id }} .gallery-block-modal .carousel .photo-title {
        top: 1.5rem;
        left: 1rem;
    }
    
    .section-{{ section.id }} .gallery-block-modal .modal-body {
        padding: 1rem 0;
    }
    
    .section-{{ section.id }} .gallery-block-modal .carousel-control-next, .section-{{ section.id }} .gallery-block-modal .carousel-control-prev {
        top: -8%;
    }
}

{% endstyles %}

<script>
    var zoom = 1;
		
		$('.zoom').on('click', function(){
			zoom += 0.1;
			$('.carousel-item.active').css({'transform': 'scale(' + zoom + ')'});
		});
		$('.zoom-init').on('click', function(){
			zoom = 1;
			$('.carousel-item.active').css('transform', '');
		});
		$('.carousel-control-next-icon').on('click', function(){
			zoom = 1;
			$('.carousel-item.active').css('transform', '');
		});
		$('.carousel-control-prev-icon').on('click', function(){
			zoom = 1;
			$('.carousel-item.active').css('transform', '');
		});
		$('.zoom-out').on('click', function(){
			zoom -= 0.1;
			$('.carousel-item.active').css('transform', 'scale(' + zoom + ')');
		});
    
</script>

{% schema %}
{
"name": "Gallery Cards",
"description": "Section for showing different galleries by tag. It will require an object with a list template of gallery and show template of photo.",
"max_blocks": 99,
"settings": [
{
"type": "checkbox",
"id": "fullwidth",
"label": "Full Width"
},
{
"type": "select",
"id": "margin",
"label": "Section Margin",
"default": "0",
"options": [
{
"label": "Large",
"value": "5"
},
{
"label": "Medium",
"value": "3"
},
{
"label": "Small",
"value": "1"
},
{
"label": "None",
"value": "0"
}]
},
{
"type": "select",
"id": "padding",
"label": "Padding",
"default": "80px",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "40px"
},
{
"label": "Medium",
"value": "80px"
},
{
"label": "Large",
"value": "120px"
}]
},
{
"type": "select",
"id": "grid",
"label": "Images Per Row",
"default": "4",
"options": [
{
"label": "2",
"value": "6"
},
{
"label": "3",
"value": "4"
},
{
"label": "4",
"value": "3"
}]
},
{
"type": "select",
"id": "mobile_grid",
"default": "6",
"label": "Images Per Row (Mobile)",
"options": [
{
"label": "1",
"value": "12"
},
{
"label": "2",
"value": "6"
}]
},
{
"type": "select",
"id": "bg_color",
"label": "Background Color",
"default": "background1",
"options": [
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "select",
"id": "alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{
"label": "Left",
"value": "start"
},
{
"label": "Center",
"value": "center"
},
{
"label": "Right",
"value": "end"
}]
},
{
"type": "select",
"id": "text_color",
"label": "Text Color",
"default": "default",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "select",
"id": "heading_size",
"label": "Heading Size",
"default": "h2",
"options": [
{
"label": "H1",
"value": "h1"
},
{
"label": "H2",
"value": "h2"
},
{
"label": "H3",
"value": "h3"
}
]
},
{
"type": "richtext",
"id": "text",
"label": "Text"
},
{
"type": "select",
"id": "btn_count",
"label": "Button Count",
"default": "2",
"options": [
{
"label": "1",
"value": "1"
},
{
"label": "2",
"value": "2"
}]
},
{
"type": "url",
"id": "btn_link",
"label": "Button Link",
"default": "#"
},
{
"type": "text",
"id": "btn_text",
"label": "Button Text",
"default": "Button 1"
},
{
"type": "select",
"id": "btn_color",
"default": "inverse-secondary",
"label": "Button 1 Type",
"options": [
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Secondary",
"value": "secondary"
},
{
"label": "Inverse Secondary",
"value": "inverse-secondary"
},
{
"label": "Link",
"value": "link"
}]
},
{
"type": "url",
"id": "btn_link_2",
"label": "Button Link 2",
"default": "#"
},
{
"type": "text",
"id": "btn_text_2",
"label": "Button Text 2",
"default": "Button 2"
},
{
"type": "select",
"id": "btn_color2",
"default": "accent1",
"label": "Button 2 Type",
"options": [
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Secondary",
"value": "secondary"
},
{
"label": "Inverse Secondary",
"value": "inverse-secondary"
},
{
"label": "Link",
"value": "link"
}]
},
{
"type": "header",
"content": "Card Settings"
},
{
"type": "color",
"id": "overlay",
"label": "Image Overlay Color",
"default": "#000000"
},
{
"type": "select",
"id": "card_text_color",
"label": "Card Text Color",
"default": "inverse",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
}
],
"blocks": [
{
"type": "gallery-card"
}
]
}
{% endschema %}