<div class="gallery-block-modal">
    <div style="background-image: url({{ block.image | image_url }})" type="button" class="modal-btn position-relative d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#{{ block.title | downcase | remove: " " | remove: "-" | remove: "'" }}Modal">
      <div class="overlay position-absolute bottom-0"></div>
      <div class="gallery-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center flex-column top-0">
      <div class="gallery-title d-flex justify-content-center position-relative flex-column align-items-center text-center">
          <h3>{{ block.title }}</h3>
          <div class="hover-effect-text position-absolute top-100 d-flex justify-content-center align-items-center">
          <div class="gallery-link position-relative pt-3">View Gallery</div>
          </div>
      </div>
      </div>
    </div>
    
    {% if block.tag != blank %}
    {% assign tag = block.tag %}
    {% else %}
    {% assign tag = '' %}
    {% endif %}
    {% paginate gallery.tag by 999 %}
    <!-- Modal -->
    <div class="modal fade" id="{{ block.title | downcase | remove: " " | remove: "-" | remove: "'" }}Modal" tabindex="-1" aria-labelledby="{{ block.title | downcase | remove: " " | remove: "-" | remove: "'" }}ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-end">
            <a class="btn zoom"><span class="icon-jet-zoom-in"></span></a>
            <a class="btn zoom-out"><span class="icon-jet-zoom-out"></span></a>
            <a class="btn zoom-init"><span class="icon-jet-spinner11"></span></a>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="carousel{{ block.title | downcase | remove: " " | remove: "-" | remove: "'" }}" class="carousel slide" data-bs-ride="false" data-bs-wrap="true" data-bs-interval="false">
              <div class="carousel-inner mb-5 d-flex justify-content-center align-items-center">
                <div class="container">
                <div class="row justify-content-center w-100 text-center g-0">
                <div class="col-12 col-lg-10">
                {% for photo in gallery %}
                <div class="carousel-item{%if forloop.index == 1%} active{% endif %}">
                  <h5 class="photo-title">{{ photo.values['title'] }}</h5>
                  <img src="{{ photo.values['image'] }}" class="d-block h-100" alt="{{ photo.values['title'] }}">
                </div>
                {% endfor %}
                 </div>
                  </div>
                   </div>
                
              </div>
              
              <div class="carousel-indicators position-absolute bottom-0 mt-5">
                {% for photo in gallery %}
                <button style="background-image: url({{ photo.values['image'] }}); background-size: cover; height: 100px; width: 100px;" type="button" data-bs-target="#carousel{{ block.title | downcase | remove: " " | remove: "-" | remove: "'" }}" data-bs-slide-to="{{ forloop.index | minus: 1 }}"{%if forloop.index == 1 %} class="active" aria-current="true"{% endif %} aria-label="{{ photo.values['title'] }}"></button>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ block.title | downcase | remove: " " | remove: "-" | remove: "'" }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ block.title | downcase | remove: " " | remove: "-" | remove: "'" }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endpaginate %}
    </div>
    </div>
    
    {% schema %}
    {
        "name": "Gallery Card",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Gallery BG Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Gallery Title"
            },
            {
                "type": "text",
                "id": "tag",
                "label": "Gallery Tag"
            }
        ]
    }
    {% endschema %}